body{
    font-family: sans-serif;
    margin: 0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}

header{
    display: flex;
    min-height: 100px;
    background-color:whitesmoke ;
    align-items: center;
    padding: 20px;
}


.logo{
    display: flex;
    align-items: center;
    margin-right: 1300px;
}

nav{
    text-align: left;
    display: inline-block;
    margin: auto;
}
.clear {
    clear: both;
}

.logo img{
    height: 90px;
    width: 150px;
    margin-right: 100px;
}

.lema{
    position: absolute;
    margin-right: 1300px;
    justify-content: center;
    padding-left: 190px;
}


.contenedor-imagenes {
	display: flex;
	justify-content: center;
	align-items: center;
    flex-wrap: wrap;
}

.imagen-contenedor img {
    max-width: 10%;
    height: auto;
    margin: 1%;
}
.contenedor-imagenes img {
	margin: 20px;
}

.contenedor-imagenes img {
    max-height: 500px;
    width: auto;
    margin-left: 20px;
}

h3 {
	font-size: 50px;
    margin: 20px;
}



.imagen {
    position: relative;
    width: flex;
    max-height: 800px;
    margin: 10px;
    overflow: hidden;
}

.imagen:before {
    content: "";
    margin: 17px;
    display: block;
    position: absolute;
    top: 100;
    left: 0;
    width: 89%;
    height: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0));
    background-position: center top -34px;
    z-index: 1;
    pointer-events: none;
}

.contenedor-imagenes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.imagen {
    position: relative;
    margin: 20px;
}

.imagen img {
    display: block;
    max-width: 100%;
    height: auto;
}

.imagen .texto {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    color: white;
    font-size: 10px;
    line-height: 1.5;
    text-align: center;
    z-index: 2;
}

.texto em {
    font-style: italic;
    font-weight: bold;
}

.texto h3{
    font-family: 'Helvetica Neue Light', sans-serif;
}


.curry {
    transition: transform 0.5s ease-out;
}

.texto,
.degradado {
    transition: transform 0.5s ease-out;
}

.curry:hover .imagen {
    transform: translateY(-10px);
    transition: transform 0.5s ease-out;
}

.curry:hover .texto {
    transform: translateY(-20%);
}

.curry:hover .degradado {
    transform: translateY(-50%);
}

.curry .imagen,
.curry .texto,
.curry .degradado {
transition: transform 0.5s ease-out;
}





.messi {
    transition: transform 0.5s ease-out;
}

.texto,
.degradado {
    transition: transform 0.5s ease-out;
}

.messi:hover .imagen {
    transform: translateY(-10px);
    transition: transform 0.5s ease-out;
}

.messi:hover .texto {
    transform: translateY(-20%);
}

.messi:hover .degradado {
    transform: translateY(-50%);
}

.messi .imagen,
.messi .texto,
.messi .degradado {
transition: transform 0.5s ease-out;
}

.Lebron {
    transition: transform 0.5s ease-out;
}

.texto,
.degradado {
    transition: transform 0.5s ease-out;
}

.Lebron:hover .imagen {
    transform: translateY(-10px);
    transition: transform 0.5s ease-out;
}

.Lebron:hover .texto {
    transform: translateY(-20%);
}

.Lebron:hover .degradado {
    transform: translateY(-50%);
}

.Lebron .imagen,
.Lebron .texto,
.Lebron .degradado {
transition: transform 0.5s ease-out;
}



.Pipa {
    transition: transform 0.5s ease-out;
}

.texto,
.degradado {
    transition: transform 0.5s ease-out;
}

.Pipa:hover .imagen {
    transform: translateY(-10px);
    transition: transform 0.5s ease-out;
}

.Pipa:hover .texto {
    transform: translateY(-20%);
}

.Pipa:hover .degradado {
    transform: translateY(-50%);
}

.Pipa .imagen,
.Pipa .texto,
.Pipa .degradado {
transition: transform 0.5s ease-out;
}




.Harden {
    transition: transform 0.5s ease-out;
}

.texto,
.degradado {
    transition: transform 0.5s ease-out;
}

.Harden:hover .imagen {
    transform: translateY(-10px);
    transition: transform 0.5s ease-out;
}

.Harden:hover .texto {
    transform: translateY(-20%);
}

.Harden:hover .degradado {
    transform: translateY(-50%);
}

.Harden .imagen,
.Harden .texto,
.Harden .degradado {
transition: transform 0.5s ease-out;
}



.dibu {
    transition: transform 0.5s ease-out;
}

.texto,
.degradado {
    transition: transform 0.5s ease-out;
}

.dibu:hover .imagen {
    transform: translateY(-10px);
    transition: transform 0.5s ease-out;
}

.dibu:hover .texto {
    transform: translateY(-20%);
}

.dibu:hover .degradado {
    transform: translateY(-50%);
}

.dibu .imagen,
.dibu .texto,
.dibu .degradado {
transition: transform 0.5s ease-out;
}




.cr7 {
    transition: transform 0.5s ease-out;
}

.texto,
.degradado {
    transition: transform 0.5s ease-out;
}

.cr7:hover .imagen {
    transform: translateY(-10px);
    transition: transform 0.5s ease-out;
}

.cr7:hover .texto {
    transform: translateY(-20%);
}

.cr7:hover .degradado {
    transform: translateY(-50%);
}

.cr7 .imagen,
.cr7 .texto,
.cr7 .degradado {
transition: transform 0.5s ease-out;
}



.butler {
    transition: transform 0.5s ease-out;
}

.texto,
.degradado {
    transition: transform 0.5s ease-out;
}

.butler:hover .imagen {
    transform: translateY(-10px);
    transition: transform 0.5s ease-out;
}

.butler:hover .texto {
    transform: translateY(-20%);
}

.butler:hover .degradado {
    transform: translateY(-50%);
}

.butler .imagen,
.butler .texto,
.butler .degradado {
transition: transform 0.5s ease-out;
}

.butler img{
    width: 282px;
    height: 500px;
    object-fit: cover;
}




img{
max-width: 100%;
}

.conteiner-productos .camiseta img{
    object-fit: cover;
}

.conteiner-tittle{
    padding: 30px;
    background-color:#eee;
    margin-bottom: 50px;
    color: #222;
}

main{
    display: flex;
    gap: 30px;
    margin-bottom: 80px;
}

.conteiner-info-product{
    flex: 1;
}

.conteiner-img{
    background-color: #f9f7f9;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    height: 800px;
}

.container-price{
    padding-bottom: 20px;
    border-bottom: 1px solid #e4e4e4;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-price span{
font-size: 24px;
font-weight: 300;
}


.conteiner-details-product{
    padding: 30px 0;
}

.form-group{
    display: flex;
align-items: center;
gap: 20px;
margin-bottom: 15px;
}

.form-group label{
width: 100px;
color: #222;
font-weight: 700;
}

.form-group select{
width: 300px;
border: none;
padding: 12px 15px;
background-color: #f7f7f7;
outline: none;
color: #666;
}


.conteiner-addcart{
    display: flex;
    gap: 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid color #e4e4e4;
}

.btn-add-to-cart{
    height: 50px;
    width: 150px;
    border: none;
    background-color: #252525;
    padding: 10px;
    color: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-weight: 700;
    cursor: pointer;
}

.conteiner-tittle{
    font-size: 40px;
    color: black;
    font-weight: 700;
}

.btn-add-to-cart:hover{
    color: grey;
}


.hidden {
    display: none;
}

.conteiner-description,
.conteiner-additional-info,
.conteiner-reviews{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #e4e4e4 ;
    padding: 10px 0;
}

.tittle-description,
.tittle-additional-info,
.tittle-reviews{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.tittle-description h4,
.tittle-additional-info h4,
.tittle-reviews h4{
font-weight: 800;
color: black;
font-size: 15px;
}

.text-additional-info,
.text-reviews,
.text-description{
    font-size: 13px;
    color: #252525;
line-height: 25px;
margin-top: 25px;
}


.conteiner-social{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    align-items: center;
border-bottom: 1px solid #e4e4e4;
font-size: 30px;
}

.conteiner-social span{
    font-weight: 300;
    color: #252525;
    
}

.conteiner-button-social a:link,
.conteiner-button-social a:visited{
    color: black;
    font-size: 15px;
}

.conteiner-button-social :hover{
    color: gray;
}


.conteiner-button-social{
    display: flex;
    gap: 15px;
    align-items: center;
    font-weight: 1000px;
}


.Conteiner-related-products h5{
    position: relative;
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 10000;
}

.Conteiner-related-products{
    justify-content: center;
    padding-left: 100px;
}

.card-list-products{
display: flex;
grid-template-columns: repeat(4, 1fr);
gap: 25px;
}

.card-img img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    box-shadow: 1px 1px 3px rgba(0, 0, 0.2);
    object-position: center top;
}

.card-img{
    background: transparent;
    margin-bottom: 15px;
}

.info-card{
    display: flex;
    justify-content: space-between;
}

.text-product{
    color: #252525;
    font-weight: 300;
    line-height: 1.4;
}

.text-product h5{
    color: inherit;
    font-weight: 1000;
    font-size: 15px;
}

.text-product p{
    color: #666;
    font-size: 15px;
    padding-bottom: 30px;
}


.text-product h5:hover{
    color: gray;
}

.text-product p:hover{
    color: gray;
}

.card{
    cursor: pointer;
}


footer{
    padding: 100px;
    background-color:#eee;
    margin-top: 100px;
    color: #222;
}

.container-price i{
    padding-right: 50px;
    font-size: 30px;
}

.conteiner-img img{
    height: 800px;
    width: 1450px;
    object-fit: cover;
}

.nombre-empresa{
justify-content: center;
}

.lema h2{
font-size: 25px;
}


.conteiner-button-social i{
    font-size: 30px;
}


.conteiner-productos img{
    height: 200px;
    width: 200px;
    margin-top: 60px;
}

.conteiner-productos .Zapas{
height: 200px;
width: 200px;
object-fit: cover;
margin-right: 10px
}


.info-product{
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: 700;
}


.box img{
    height: 90px;
    width: 150px;
}

.pie-pagina .group-1{
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-gap: 50px;
}


.nav i{
    font-size: 25px;
    padding-left: 200px;
}





@media (max-width:700px){
    *{
        margin: 0 auto;
        padding: 0;
    }
    
    .contenedor-imagenes img{
        height: 200px;
        width: 105px;
    }

    h3{
        padding-left: 10px;
        font-size: 30px;
    }

    h2.nombre-empresa{
        font-size: 15px;
        padding-right: 400px;
        flex-basis: 100%;
        display: flex;
}

.logo img{
    display: flex;
    align-items: center;
    margin-right: 1300px;
}

.texto h3{
    font-size: 20px;
    align-items: center;
}

.cr7 .texto h3{
    display: inline-block;
    position: relative;
    right: 10px;
}


.Pipa .texto h3{
    display: inline-block;
    position: relative;
    right: 15px;
}

.dibu .texto h3{
    display: inline-block;
    position: relative;
    right: 8px;
}

.Harden .texto h3{
    display: inline-block;
    position: relative;
    right: 4px;
}


.imagen:before{
    height: 236px;
    width: 110px;
    overflow: hidden;
}



.conteiner-img img{
    height: 500px;
    width: 100%;
}

.conteiner-tittle{
    font-size: 25px;
padding-top: 10px;
    height: 50px;
}

.conteiner-img{
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 500px;
    width: 374px;
}

.conteiner-img img{
    size: 100%;
}

.camiseta img{
    position: absolute;
    width: 100px;
    height: 100px;
    margin-top: 500px;
    margin-left: 60px;
}

.conteiner-productos .short{
    position: absolute;
    width: 100px;
    height: 100px;
    margin-top: 500px;
    margin-left: 150px;
}


.conteiner-productos .Zapas{
    position: absolute;
    width: 100px;
    height: 100px;
    margin-top: 500px;
    margin-left: 240px;
}

.conteiner-info-product{
    padding-top: 650px;
}

.info-product{
    font-size: 20px;
}

.conteiner-details-product{
    height: 300px;
    width: 300px;
}

.btn-add-to-cart{
    position: absolute;
    top: 1250px;
right: 100px;
}

.Conteiner-related-products img{
    height: 200px;
    width: 200px;
}

.card-list-products{
justify-content: center;
margin-left: -100px;
}

.info-card{
    align-items: center;
    justify-content: center;
}

.nav a{
    font-size: 25px;
    padding-left: 200px;
}
.nav-link{
display: none;
}

.cart{
    display: none;
    }

.menu{
    position: relative;
    padding-left: 150px;
    bottom: 30px;
}

.Producto-4{
    display: none;
}

.info-card .price{
    display: none;
}

.info-card .category{
    padding-left: 25px;
    top: 100px;
}

}